Here is the info for your new Atlantic.Net Cloud Servers:
{% if 'firewall' %}

  {{ cloudserver_firewall.results.vm_description }} (VMID: {{ cloudserver_firewall.results.instanceid }}) - {{ cloudserver_firewall.results.vm_image_display_name }}
  ========================================
  IP Address: {{cloudserver_firewall.results.ip_address}}/{{cidr}}
  Private IP: {{ private_range | ipaddr('net') | ipaddr('1')}}
  Username: {{ cloudserver_firewall.results.username }}
  Password: {{ cloudserver_firewall.results.password }}

  Gateway: {{ gateway }}
  Private Range: {{ private_range }}

  VPN Information
  ----------------------------------------
  VPN IP Address: {{cloudserver_firewall.results.ip_address}}
  Identifier: {{ identifier }}
  Preshared Key: {{ psk }}

{% endif %}
{% if 'ids' %}

  {{ cloudserver_ids.results.vm_description }} (VMID: {{ cloudserver_ids.results.instanceid }}) - {{ cloudserver_ids.results.vm_image_display_name }}
  ========================================
  IP Address: {{cloudserver_ids.results.ip_address}}
  Private IP: {{ private_range | ipaddr('net') | ipaddr('2')}} 
  Username: {{ cloudserver_ids.results.username }}
  Password: {{ cloudserver_ids.results.password }}

  Snorby Login:
  -------------------------------------------
  http://{{ private_range | ipaddr('net') | ipaddr('1') | ipaddr('address')}}:3000

{% endif %}
{% set privateips = 3 %}
{% for cloudserver in cloudserver_hosts.results %}
  {{ cloudserver.results.vm_description }} (VMID: {{ cloudserver.results.instanceid }}) - {{ cloudserver.results.vm_image_display_name }}
  ========================================
  IP Address: {{cloudserver.results.ip_address}}
  Private IP: {{ private_range | ipaddr('net') | ipaddr(privateips)}}
  Username: {{ cloudserver.results.username }}
  Password: {{ cloudserver.results.password }}

  {% set privateips = privateips + 1 %}
{% endfor %}