Here is the info for your new Atlantic.Net Cloud Servers:

  VM ID: {{ new_server1.results.cu_id }}-{{new_server1.results.instanceid}}
  IP Address: {{new_server1.results.ip_address}}

  Username: {{ new_server1.results.username }}
  Password: {{ new_server1.results.password }}

  VM ID: {{ new_server2.results.cu_id }}-{{new_server2.results.instanceid}}
  IP Address: {{new_server2.results.ip_address}}

  Username: {{ new_server2.results.username }}
  Password: {{ new_server2.results.password }}

  VM ID: {{ new_server3.results.cu_id }}-{{new_server3.results.instanceid}}
  IP Address: {{new_server3.results.ip_address}}

  Username: {{ new_server3.results.username }}
  Password: {{ new_server3.results.password }}

