Here is the info for your new Atlantic.Net Cloud Servers:

  VM ID: {{ derek_host.results.cu_id }}-orl-ubuntu
  IP Address: {{derek_host.results.ip_address}}

  Username: {{ derek_host.results.username }}
  Password: {{ derek_host.results.password }}
