Here is the info for your new Atlantic.Net Cloud Servers:

  VM ID: {{ item.0.results.vm_description }}
  IP Address: {{item.0.results.ip_address}}

  Username: {{ item.0.results.username }}
  Password: {{ item.0.results.password }}
