Here is the info for your new Atlantic.Net Cloud Servers:

  VM ID: {{ elasticstack.results.cu_id }}-orl-elasticstack
  IP Address: {{elasticstack.results.ip_address}}

  Username: {{ elasticstack.results.username }}
  Password: {{ elasticstack.results.password }}
