Here is the info for your new Atlantic.Net Cloud Server with Ghost:

  VM ID: {{ ghostserver.results.cu_id }}-orl-ghostserver
  IP Address: {{ghostserver.results.ip_address}}

  Username: {{ ghostserver.results.username }}
  Password: {{ ghostserver.results.password }}
