Here is the info for your new Atlantic.Net Cloud Servers:

  VM ID: {{ cloudserver.results.vm_description }}
  IP Address: {{cloudserver.results.ip_address}}

  Username: {{ cloudserver.results.username }}
  Password: {{ cloudserver.results.password }}
