[Unit]
Description=Snorby
After=network.target

[Service]
Type=simple
User=root
Environment=RAILS_ENV=production
WorkingDirectory=/opt/snorby
ExecStart=/etc/snorby/snorby-start
ExecStop=/etc/snorby/snorby-stop

[Install]
WantedBy=multi-user.target
